body{
    box-sizing: border-box;
    margin: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table , tr,td,th,td{
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
}